{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	{{ include("base/nav.html.twig") }}
	<div class="lign1h"></div>
	<div class="lign2h"></div>
	<div class="lignh"></div>
	<div class="lignh2"></div>
	<h1 class="h1new">Create an account</h1>
	<h1 class="new">ADD NEW ACCOUNT TO THE DATABASE</h1>
	{{ include('admin/user/_form.html.twig') }}

	{{ include("base/footer.html.twig") }}

{% endblock %}
