{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}


{% block body %}
	{{ include("base/nav.html.twig") }}

	<div class="lign1h"></div>
	<div class="lign2h"></div>
	<div class="lign3h"></div>


	{{ include("base/footer.html.twig") }}

{% endblock %}
