{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}


{% block body %}
	{{ include("base/navbarhome.twig") }}

	<div class="lign1h"></div>
	<div class="lign2h"></div>
	<div class="lign3h"></div>

	<h1 class="weladmin">
		Welcome admin
		<br>
		What do you want to do
	</h1>
	<div class="create">
		<a href="#" class="generateR">CREATE AND GENERATE A STUDY REPORT</a>
		<h2 class="textcreat">New claims on large skin type cohorts
		</h2>
	</div>
	<div class="consult">
		<a href="#" class="consulthistory">CONSULT THE HISTORY</a>
		<h2 class="blocconsult">consult previously generated reports</h2>
	</div>
	<div class="createuser">
		<a href="{{ path('user_new') }}" class="createaccount">
			CREATE AN ACCOUNT
		</a>
		<h2 class="blocAccount">For a client to consult and download his study results</h2>
	</div>

	<a href="#" class="gotowebsite">GO TO WEBSITE</a>

	{{ include("base/footer.html.twig") }}

{% endblock %}
