body{
    .h1new{
        position: absolute;
        left: 19.21%;
        right: 0%;
        top: 15.28%;
        bottom: 75.35%;
        font-size: 70px;
        font-weight: 300;
        font-family: "brother-1816, sans-serif";
        font-style: normal;
        color: #161208;
       
    }
.new{
    position: absolute;
    left: 20.2%;
    right: 0%;
    top: 33.37%;
    bottom: 62.22%;
    font-family: "brother-1816, sans-serif";
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
    color: #161208;
}
.name1{
    position: absolute;
    left: 22.2%;
    right: 45.05%;
    top: 50.39%;
    bottom: 44.52%;
    border: 0.3px solid #161208;

}
.email1{
    position: absolute;
    left: 22.2%;
    right: 45.05%;
    top: 57.7%;
    bottom: 37.2%;
    border: 0.3px solid #161208;
}

.password1{
    position: absolute;
    left: 22.2%;
    right: 45.05%;
    top: 65.7%;
    bottom: 29.2%;
    border: 0.3px solid #161208;
}
.roles1{
    position: absolute;
    left: 22.2%;
    right: 68.05%;
    top: 43.7%;
    bottom: 52.2%;
    border: 0.3px solid #161208;
}

.btn1{
    position: absolute;
    left: 22.2%;
    right: 58.93%;
    top: 74.93%;
    bottom: 18.28%;
    background: #161615;
    color: white;
    font-family: "Brother 1816";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

}
.lignh{
    position: absolute;
    left: 12.03%;
    right: 87.97%;
    top: 7.8%;
    bottom: 0%;
    border: 0.3px solid lightgrey;
}
.lignh2{
    position: absolute;
    left: 77.92%;
    right: 22.08%;
    top: 7.8%;
    bottom: 0%;
    border: 0.3px solid lightgrey;
}

}