body{
.singin{
    position: absolute;
    left: 43.33%;
    right: 33.39%;
    top: 46.2%;
    bottom: 51.39%;
    font-family: 'Brother 1816';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}
.inputpass{
    position: absolute;
    left: 38.44%;
    right: 37.81%;
    top: 61.67%;
    bottom: 33.24%;
    border: 0.3px solid #161208;
}
.inputemail{
    position: absolute;
    left: 38.44%;
    right: 37.81%;
    top: 52.22%;
    bottom: 42.69%;
    border: 0.3px solid #161208;
}
.sing{
    position: absolute;
    left: 42.88%;
    right: 47.93%;
    top: 74.93%;
    border: white;
    bottom: 18.28%;
    color: white;
    background: #D8DADB;
}
.stay{
    position: absolute;
    left: 38.49%;
    right: 60.78%;
    top: 69.3%;
    bottom: 27.41%;
    background: #F0F0F1;
  
}
.staylab{
    position: absolute;
    left: 40.69%;
    right: 24.68%;
    top: 69.3%;
    bottom: 27.22%;
    font-family: 'Brother 1816';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}
.register{
    position: absolute;
    left: 56.44%;
    right: 68.83%;
    top: 76.26%;
    bottom: 29.44%;
    color: black;
}
}