{{ include("base/logo.html.twig") }}
<div style="  top: 13.2%;margin-top:13.2%;">
	<h1>Hello
		{{ user.name}}!</h1>

	<p>
		You account as been create in Wired Beauty
	</p>
	<p>
		email:</p>
	<p>
		<code>{{ user.email }}</code>
	</p>
	<p>password:</p>
	<p></p>
	<p>{{user.password}}</p>
	<p>(You can change it later)</p>
</div>
